<html>
  <div class="row">
    <img src="cid:logo" alt="logo" style="width: 300px;"/>
    <h3 style="margin-bottom: 10px;">Hallo, {{username}}</h3>
    <p style="margin-bottom: 10px;">To reset your password, please click on the link below.</p>
    <a href="{{url_frontend}}forgot_password/new/{{url}}" style="margin-bottom: 10px;">Reset your password</a>
    <p style="margin-bottom: 10px;">This link will expire in 10 minutes. <br> If you don't wish to reset your password, disregard this email and no action will be taken.</p>
    <p style="margin-top: 40px;">Best Regards, </p>
    <p>Simpel Proper Team <br> Bank Syariah Indonesia</p>
  </div>
</html>